<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>retail-checkout</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Retail-Checkout</span>
</nav>
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Imported?</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="products_table">

                </tbody>
            </table>
        </div>
        <div class="col-md">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="cart">

                    </tbody>
                </table>
            </div>
            <div class="row">
                <button type="button" onclick="checkout()" class="btn btn-primary">Checkout</button>
            </div>
        </div>
        <div class="col-md" >
            <div class="row" id="receipt">
                <h3>Receipt</h3>
            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>

    var order = {
        "products": {}
    };

    var products = [];

    function checkout(){
        console.log(order);
         $.ajax
            ({
                type: "POST",
                url: "http://localhost:5000/orders",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(order),
                success: function (data) {
                   var i;
                   var pds = data["products"]
                   for(i =0; i<pds.length; i++){
                     $("#receipt").append('<p>'+ pds[i]["quantity"] + ' ' + pds[i]["name"] + ' '+pds[i]["price"]+ '</p>');
                   }
                   $("#receipt").append('<p> Sales tax: '+data["sales_tax"]+ '</p>');
                   $("#receipt").append('<p> Total: '+data["total"]+ '</p>');
                }
            });
    }


    function addToCart(e){
        var id = $(e.parentNode.parentNode).attr("id");
        var quantity = $("#"+id).find("input").val();
        var name = $($("#"+id).children().get(0)).text();
        order["products"][id] = parseInt(quantity);
        row = '<tr scope="row">';
        row += '<td>' + quantity + ' </td>';
        row += '<td> ' + name + ' </td>';

        row += '</tr>'
        $("#cart").append(row);
    };

    $(document).ready(function(){
       $.get("http://localhost:5000/products", function(data){

         var i =0;
         products = data;
         for (i = 0; i < data.length; i++) {
           row = '<tr scope="row" id="'+data[i]["id"]+'"><td>';
           row += data[i]["name"] + '</td><td>';
           row += data[i]["imported"] + '</td><td>';
           row += data[i]["price"] + '</td><td>';
           row += '<input type="number" min="1" value="1"></td><td>';
           row += '<button type="button" onclick="addToCart(this)" class="btn btn-primary">Add</button></td>';
           row += '</tr>'
           $("#products_table").append(row);
         }

       });
    });
</script>
</body>
</html>